In [2]:
#imports/dependencies
import pandas as pd 
import numpy as np 
import datetime as dt

In [3]:
# Read in stock data detailed
df=pd.read_csv('Data/FDX_stock_data_detailed.csv')
df.head()

,Unnamed: 0,open,high,low,close,adjClose,volume,unadjustedVolume,change,changePercent,vwap,label,changeOverTime
0,2020-12-31,259.600006,260.459991,257.510010,259.619995,259.619995,2606000.0,2606000.0,0.01999,0.008,259.19667,"December 31, 20",0.00008
1,2020-12-30,262.200012,262.679993,258.359985,259.980011,259.980011,2694100.0,2694100.0,-2.22000,-0.847,260.34000,"December 30, 20",-0.00847
2,2020-12-29,263.950012,265.450012,259.670013,261.559998,261.559998,2676600.0,2676600.0,-2.39001,-0.905,262.22667,"December 29, 20",-0.00905
3,2020-12-28,269.839996,270.100006,261.809998,262.940002,262.940002,3633100.0,3633100.0,-6.89999,-2.557,264.95000,"December 28, 20",-0.02557
4,2020-12-24,271.359985,272.029999,267.190002,268.820007,268.820007,1649400.0,1649400.0,-2.53998,-0.936,269.34667,"December 24, 20",-0.00936

In [4]:
# Rename "Unamed" column to date
df = df.rename(columns={'Unnamed: 0':'date'})
df.head()

,date,open,high,low,close,adjClose,volume,unadjustedVolume,change,changePercent,vwap,label,changeOverTime
0,2020-12-31,259.600006,260.459991,257.510010,259.619995,259.619995,2606000.0,2606000.0,0.01999,0.008,259.19667,"December 31, 20",0.00008
1,2020-12-30,262.200012,262.679993,258.359985,259.980011,259.980011,2694100.0,2694100.0,-2.22000,-0.847,260.34000,"December 30, 20",-0.00847
2,2020-12-29,263.950012,265.450012,259.670013,261.559998,261.559998,2676600.0,2676600.0,-2.39001,-0.905,262.22667,"December 29, 20",-0.00905
3,2020-12-28,269.839996,270.100006,261.809998,262.940002,262.940002,3633100.0,3633100.0,-6.89999,-2.557,264.95000,"December 28, 20",-0.02557
4,2020-12-24,271.359985,272.029999,267.190002,268.820007,268.820007,1649400.0,1649400.0,-2.53998,-0.936,269.34667,"December 24, 20",-0.00936

In [5]:
# Select desired columns
stockprice_df = df[["date", "open", "high", "low", "close"]]
stockprice_df.head()

         date        open        high         low       close
0  2020-12-31  259.600006  260.459991  257.510010  259.619995
1  2020-12-30  262.200012  262.679993  258.359985  259.980011
2  2020-12-29  263.950012  265.450012  259.670013  261.559998
3  2020-12-28  269.839996  270.100006  261.809998  262.940002
4  2020-12-24  271.359985  272.029999  267.190002  268.820007

In [6]:
# Change date column froms string to datetime
stockprice_df['date'] = pd.to_datetime(stockprice_df['date'])
stockprice_df

           date        open        high         low       close
0    2020-12-31  259.600006  260.459991  257.510010  259.619995
1    2020-12-30  262.200012  262.679993  258.359985  259.980011
2    2020-12-29  263.950012  265.450012  259.670013  261.559998
3    2020-12-28  269.839996  270.100006  261.809998  262.940002
4    2020-12-24  271.359985  272.029999  267.190002  268.820007
...         ...         ...         ...         ...         ...
5279 2000-01-07   47.250000   47.500000   44.250000   47.500000
5280 2000-01-06   42.500000   47.312500   42.437500   47.250000
5281 2000-01-05   41.875000   43.250000   41.375000   42.437500
5282 2000-01-04   42.500000   43.187500   41.000000   41.500000
5283 2000-01-03   42.375000   43.625000   41.000000   42.937500

[5284 rows x 5 columns]

In [7]:
#Create Candle DF
candle_df = df[["date", "open", "high", "low", "close", "volume"]]
candle_df['date'] = pd.to_datetime(candle_df['date'])
candle_df.reset_index(drop=True, inplace=True)
candle_df.head()

        date        open        high         low       close     volume
0 2020-12-31  259.600006  260.459991  257.510010  259.619995  2606000.0
1 2020-12-30  262.200012  262.679993  258.359985  259.980011  2694100.0
2 2020-12-29  263.950012  265.450012  259.670013  261.559998  2676600.0
3 2020-12-28  269.839996  270.100006  261.809998  262.940002  3633100.0
4 2020-12-24  271.359985  272.029999  267.190002  268.820007  1649400.0

In [44]:
#JSON Candle DF
candle_df.to_csv('ppp/candle.csv',index = False)
candle_df.to_csv('Data/candle.csv',index = False)
from sqlalchemy import create_engine, func
import psycopg2
engine = create_engine("postgres+psycopg2://postgres:finalproject@database-final-project.ctvycruujmkn.us-east-2.rds.amazonaws.com/postgres")
conn = engine.connect()
candle_df.to_sql('candle', con=engine, if_exists = 'append', index=False, chunksize=10000)

In [9]:
# Group by date
GroupedHigh = stockprice_df.groupby('date')

# Determine max based on date
PriceMaxMnth = GroupedHigh['high'].max()

# Create dataframe
PriceMaxMnth = pd.DataFrame(PriceMaxMnth)
PriceMaxMnth

                  high
date
2000-01-03   43.625000
2000-01-04   43.187500
2000-01-05   43.250000
2000-01-06   47.312500
2000-01-07   47.500000
...                ...
2020-12-24  272.029999
2020-12-28  270.100006
2020-12-29  265.450012
2020-12-30  262.679993
2020-12-31  260.459991

[5284 rows x 1 columns]

In [10]:
# Grouping price high quarterly
quarterlyHigh = PriceMaxMnth.resample('Q')['high'].max()
quarterlyHigh

date
2000-03-31     47.937500
2000-06-30     42.437500
2000-09-30     45.040001
2000-12-31     49.849998
2001-03-31     45.950001
                 ...
2019-12-31    168.369995
2020-03-31    165.250000
2020-06-30    149.990005
2020-09-30    259.950012
2020-12-31    305.660004
Freq: Q-DEC, Name: high, Length: 84, dtype: float64

In [11]:
# Determine min based on date
PriceMinMnth = GroupedHigh['low'].min()

# Create dataframe
PriceMinMnth = pd.DataFrame(PriceMinMnth)

PriceMinMnth

                   low
date
2000-01-03   41.000000
2000-01-04   41.000000
2000-01-05   41.375000
2000-01-06   42.437500
2000-01-07   44.250000
...                ...
2020-12-24  267.190002
2020-12-28  261.809998
2020-12-29  259.670013
2020-12-30  258.359985
2020-12-31  257.510010

[5284 rows x 1 columns]

In [12]:
#grouping quarterly low
quarterlyLow = PriceMinMnth.resample('Q')['low'].min()
quarterlyLow

date
2000-03-31     30.562500
2000-06-30     33.250000
2000-09-30     37.937500
2000-12-31     36.349998
2001-03-31     38.000000
                 ...
2019-12-31    137.779999
2020-03-31     88.690002
2020-06-30    103.400002
2020-09-30    153.660004
2020-12-31    250.000000
Freq: Q-DEC, Name: low, Length: 84, dtype: float64

In [13]:
# Creating quarterly high and low dataframes
quarterlyHigh = pd.DataFrame(quarterlyHigh)
quarterlyLow = pd.DataFrame(quarterlyLow)

# Merging dataframes together
quarterly_combined_df = quarterlyHigh.merge(quarterlyLow, on=['date'])
quarterly_combined_df.head()

                 high        low
date
2000-03-31  47.937500  30.562500
2000-06-30  42.437500  33.250000
2000-09-30  45.040001  37.937500
2000-12-31  49.849998  36.349998
2001-03-31  45.950001  38.000000

In [14]:
# Reset index 
quarterly_combined_df.reset_index(drop=False, inplace=True)
quarterly_combined_df

         date        high         low
0  2000-03-31   47.937500   30.562500
1  2000-06-30   42.437500   33.250000
2  2000-09-30   45.040001   37.937500
3  2000-12-31   49.849998   36.349998
4  2001-03-31   45.950001   38.000000
..        ...         ...         ...
79 2019-12-31  168.369995  137.779999
80 2020-03-31  165.250000   88.690002
81 2020-06-30  149.990005  103.400002
82 2020-09-30  259.950012  153.660004
83 2020-12-31  305.660004  250.000000

[84 rows x 3 columns]

In [15]:
# create a empty list to append decisions 
decisions = []
# variables to store previous row values
previous_high= 0
previous_low = 0
# Create a loop to go through rows and compare to previous rows
for high, low in zip(quarterly_combined_df.high, quarterly_combined_df.low):
    # Buy
    if high  >= (1+(3/100)) * previous_high and low  >= (1+(3/100)) * previous_low:
        # store decision
        decisions.append(1)
    # Sell
    elif high  <= (1+(3/100)) * previous_high and low  <= (1+(3/100)) * previous_low:
        # store decision
        decisions.append(0)
    # Hold
    else:
        # store decision
        decisions.append(2)
    # storing current values to use as previous in next loop
    previous_high = high
    previous_low = low

In [16]:
# Add decision with decisions list
quarterly_combined_df['decision'] = decisions
quarterly_combined_df

         date        high         low  decision
0  2000-03-31   47.937500   30.562500         1
1  2000-06-30   42.437500   33.250000         2
2  2000-09-30   45.040001   37.937500         1
3  2000-12-31   49.849998   36.349998         2
4  2001-03-31   45.950001   38.000000         2
..        ...         ...         ...       ...
79 2019-12-31  168.369995  137.779999         0
80 2020-03-31  165.250000   88.690002         0
81 2020-06-30  149.990005  103.400002         2
82 2020-09-30  259.950012  153.660004         1
83 2020-12-31  305.660004  250.000000         1

[84 rows x 4 columns]

In [17]:
# eliminates last row (no data to compare improvement to) and first row (does not have data to to show if price will increase in future)
quarterly_combined_df = quarterly_combined_df[1:-1]
quarterly_combined_df

         date        high         low  decision
1  2000-06-30   42.437500   33.250000         2
2  2000-09-30   45.040001   37.937500         1
3  2000-12-31   49.849998   36.349998         2
4  2001-03-31   45.950001   38.000000         2
5  2001-06-30   43.750000   35.500000         0
..        ...         ...         ...       ...
78 2019-09-30  178.500000  142.490005         0
79 2019-12-31  168.369995  137.779999         0
80 2020-03-31  165.250000   88.690002         0
81 2020-06-30  149.990005  103.400002         2
82 2020-09-30  259.950012  153.660004         1

[82 rows x 4 columns]

In [18]:
# Reset index 
quarterly_combined_df.reset_index(drop=False, inplace=True)
quarterly_combined_df

    index       date        high         low  decision
0       1 2000-06-30   42.437500   33.250000         2
1       2 2000-09-30   45.040001   37.937500         1
2       3 2000-12-31   49.849998   36.349998         2
3       4 2001-03-31   45.950001   38.000000         2
4       5 2001-06-30   43.750000   35.500000         0
..    ...        ...         ...         ...       ...
77     78 2019-09-30  178.500000  142.490005         0
78     79 2019-12-31  168.369995  137.779999         0
79     80 2020-03-31  165.250000   88.690002         0
80     81 2020-06-30  149.990005  103.400002         2
81     82 2020-09-30  259.950012  153.660004         1

[82 rows x 5 columns]

In [19]:
# Change Y-m-d to Y-m using datetime
quarterly_combined_df['date'] = quarterly_combined_df['date'].dt.strftime('%Y-%m')
quarterly_combined_df

    index     date        high         low  decision
0       1  2000-06   42.437500   33.250000         2
1       2  2000-09   45.040001   37.937500         1
2       3  2000-12   49.849998   36.349998         2
3       4  2001-03   45.950001   38.000000         2
4       5  2001-06   43.750000   35.500000         0
..    ...      ...         ...         ...       ...
77     78  2019-09  178.500000  142.490005         0
78     79  2019-12  168.369995  137.779999         0
79     80  2020-03  165.250000   88.690002         0
80     81  2020-06  149.990005  103.400002         2
81     82  2020-09  259.950012  153.660004         1

[82 rows x 5 columns]

In [20]:
# Read in quarterly ratios
df2 = pd.read_csv('Data/FDX_financial_ratios_quarterly.csv')

# create dataframe
df2 = pd.DataFrame(df2)

df2.head()

,Unnamed: 0,2020-12,2020-09,2020-06,2020-03,2019-12,2019-09,2019-06,2019-03,2018-12,...,1991-08,1991-05,1991-02,1990-11,1990-08,1990-05,1990-02,1989-11,1989-08,1989-05
0,currentRatio,1.755262,1.688522,1.583817,1.214625,1.251351,1.310216,1.451903,1.458513,1.415122,...,0.888441,0.900983,0.997251,1.038462,0.972973,1.060484,1.040905,1.021758,0.941593,1.010101
1,quickRatio,2.424928,1.559803,1.448473,1.073995,1.113113,1.177755,1.268723,1.286625,1.231676,...,0.735215,0.732444,0.814433,0.884615,0.823938,0.883871,0.844212,0.873803,0.807080,0.848485
2,cashRatio,0.688320,0.621170,0.471868,0.171041,0.192567,0.240463,0.257295,0.310285,0.223568,...,0.115591,0.082865,0.144330,0.169643,0.052510,0.079032,0.038294,0.046127,0.076991,0.144169
3,daysOfSalesOutstanding,0.000000,198.510429,212.422514,194.595700,204.559282,199.371187,186.855731,193.915638,196.035963,...,184.299014,176.397597,190.920064,190.649774,190.211268,190.318704,195.482938,201.342807,182.832423,167.738167
4,daysOfInventoryOutstanding,0.000000,3.543354,3.705196,3.556174,3.689155,3.811983,3.659021,3.610050,3.338307,...,14.562814,13.991976,13.075472,12.039848,10.625631,10.256674,10.553746,9.941246,9.439024,9.333333

In [21]:
# Transpose the data
df2 = df2.transpose()
df2.head()

,0,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,52,53
Unnamed: 0,currentRatio,quickRatio,cashRatio,daysOfSalesOutstanding,daysOfInventoryOutstanding,operatingCycle,daysOfPayablesOutstanding,cashConversionCycle,grossProfitMargin,operatingProfitMargin,...,priceToSalesRatio,priceEarningsRatio,priceToFreeCashFlowsRatio,priceToOperatingCashFlowsRatio,priceCashFlowRatio,priceEarningsToGrowthRatio,priceSalesRatio,dividendYield,enterpriseValueMultiple,priceFairValue
2020-12,1.75526,2.42493,0.68832,0,0,0,537.552,-537.552,0.969606,0.0712445,...,3.66535,61.4768,9.03832,9.03832,9.03832,12.9867,3.66535,0.00452431,27.1565,3.58242
2020-09,1.68852,1.5598,0.62117,198.51,3.54335,52.4911,19.9515,32.5396,0.220434,0.0822939,...,2.98111,46.2635,46.9422,21.7269,21.7269,9.73578,2.98111,0.00295149,29.3514,2.95951
2020-06,1.58382,1.44847,0.471868,212.423,3.7052,56.0834,21.1753,34.908,0.199562,0.0486231,...,1.94292,-100.974,51.4105,18.5406,18.5406,-21.2491,1.94292,0.00504073,30.9161,1.84341
2020-03,1.21462,1.074,0.171041,194.596,3.55617,51.5387,19.991,31.5477,0.177961,0.0235032,...,2.08051,115.498,-154.817,30.2175,30.2175,24.2129,2.08051,0.00467265,40.6284,1.93202

In [22]:
# Rename unnames as date
df2 = df2.rename(index={'Unnamed: 0':'date'})
df2.head()

,0,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,52,53
date,currentRatio,quickRatio,cashRatio,daysOfSalesOutstanding,daysOfInventoryOutstanding,operatingCycle,daysOfPayablesOutstanding,cashConversionCycle,grossProfitMargin,operatingProfitMargin,...,priceToSalesRatio,priceEarningsRatio,priceToFreeCashFlowsRatio,priceToOperatingCashFlowsRatio,priceCashFlowRatio,priceEarningsToGrowthRatio,priceSalesRatio,dividendYield,enterpriseValueMultiple,priceFairValue
2020-12,1.75526,2.42493,0.68832,0,0,0,537.552,-537.552,0.969606,0.0712445,...,3.66535,61.4768,9.03832,9.03832,9.03832,12.9867,3.66535,0.00452431,27.1565,3.58242
2020-09,1.68852,1.5598,0.62117,198.51,3.54335,52.4911,19.9515,32.5396,0.220434,0.0822939,...,2.98111,46.2635,46.9422,21.7269,21.7269,9.73578,2.98111,0.00295149,29.3514,2.95951
2020-06,1.58382,1.44847,0.471868,212.423,3.7052,56.0834,21.1753,34.908,0.199562,0.0486231,...,1.94292,-100.974,51.4105,18.5406,18.5406,-21.2491,1.94292,0.00504073,30.9161,1.84341
2020-03,1.21462,1.074,0.171041,194.596,3.55617,51.5387,19.991,31.5477,0.177961,0.0235032,...,2.08051,115.498,-154.817,30.2175,30.2175,24.2129,2.08051,0.00467265,40.6284,1.93202

In [23]:
# Reanem Columns
df2.columns=df2.iloc[0]
df2.head()

date,currentRatio,quickRatio,cashRatio,daysOfSalesOutstanding,daysOfInventoryOutstanding,operatingCycle,daysOfPayablesOutstanding,cashConversionCycle,grossProfitMargin,operatingProfitMargin,...,priceToSalesRatio,priceEarningsRatio,priceToFreeCashFlowsRatio,priceToOperatingCashFlowsRatio,priceCashFlowRatio,priceEarningsToGrowthRatio,priceSalesRatio,dividendYield,enterpriseValueMultiple,priceFairValue
date,currentRatio,quickRatio,cashRatio,daysOfSalesOutstanding,daysOfInventoryOutstanding,operatingCycle,daysOfPayablesOutstanding,cashConversionCycle,grossProfitMargin,operatingProfitMargin,...,priceToSalesRatio,priceEarningsRatio,priceToFreeCashFlowsRatio,priceToOperatingCashFlowsRatio,priceCashFlowRatio,priceEarningsToGrowthRatio,priceSalesRatio,dividendYield,enterpriseValueMultiple,priceFairValue
2020-12,1.75526,2.42493,0.68832,0,0,0,537.552,-537.552,0.969606,0.0712445,...,3.66535,61.4768,9.03832,9.03832,9.03832,12.9867,3.66535,0.00452431,27.1565,3.58242
2020-09,1.68852,1.5598,0.62117,198.51,3.54335,52.4911,19.9515,32.5396,0.220434,0.0822939,...,2.98111,46.2635,46.9422,21.7269,21.7269,9.73578,2.98111,0.00295149,29.3514,2.95951
2020-06,1.58382,1.44847,0.471868,212.423,3.7052,56.0834,21.1753,34.908,0.199562,0.0486231,...,1.94292,-100.974,51.4105,18.5406,18.5406,-21.2491,1.94292,0.00504073,30.9161,1.84341
2020-03,1.21462,1.074,0.171041,194.596,3.55617,51.5387,19.991,31.5477,0.177961,0.0235032,...,2.08051,115.498,-154.817,30.2175,30.2175,24.2129,2.08051,0.00467265,40.6284,1.93202

In [24]:
# Drop row date
df2 = df2.drop(['date'])
df2

date,currentRatio,quickRatio,cashRatio,daysOfSalesOutstanding,daysOfInventoryOutstanding,operatingCycle,daysOfPayablesOutstanding,cashConversionCycle,grossProfitMargin,operatingProfitMargin,...,priceToSalesRatio,priceEarningsRatio,priceToFreeCashFlowsRatio,priceToOperatingCashFlowsRatio,priceCashFlowRatio,priceEarningsToGrowthRatio,priceSalesRatio,dividendYield,enterpriseValueMultiple,priceFairValue
2020-12,1.75526,2.42493,0.68832,0,0,0,537.552,-537.552,0.969606,0.0712445,...,3.66535,61.4768,9.03832,9.03832,9.03832,12.9867,3.66535,0.00452431,27.1565,3.58242
2020-09,1.68852,1.5598,0.62117,198.51,3.54335,52.4911,19.9515,32.5396,0.220434,0.0822939,...,2.98111,46.2635,46.9422,21.7269,21.7269,9.73578,2.98111,0.00295149,29.3514,2.95951
2020-06,1.58382,1.44847,0.471868,212.423,3.7052,56.0834,21.1753,34.908,0.199562,0.0486231,...,1.94292,-100.974,51.4105,18.5406,18.5406,-21.2491,1.94292,0.00504073,30.9161,1.84341
2020-03,1.21462,1.074,0.171041,194.596,3.55617,51.5387,19.991,31.5477,0.177961,0.0235032,...,2.08051,115.498,-154.817,30.2175,30.2175,24.2129,2.08051,0.00467265,40.6284,1.93202
2019-12,1.25135,1.11311,0.192567,204.559,3.68915,54.1284,21.0269,33.1015,0.188871,0.0357885,...,2.3709,73.3454,-121.161,27.219,27.219,15.376,2.3709,0.00411458,36.321,2.20127
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1990-05,1.06048,0.883871,0.0790323,190.319,10.2567,57.1846,41.9507,15.2339,0.491118,0.0606061,...,0.571047,25.4182,64.6736,3.16991,3.16991,-8.14296,0.571047,NaN,46.9102,0.662816
1990-02,1.04091,0.844212,0.0382942,195.483,10.5537,58.755,41.8241,16.9309,0.467322,0.0358589,...,0.677014,234.112,-4.59222,17.445,17.445,-74.2989,0.677014,NaN,292.323,0.736663
1989-11,1.02176,0.873803,0.0461271,201.343,9.94125,59.5874,45.6874,13.9,0.506381,0.0742459,...,0.643329,29.9757,-3.74443,-61.2762,-61.2762,-9.51323,0.643329,NaN,36.5568,0.700189
1989-08,0.941593,0.80708,0.0769912,182.832,9.43902,54.521,46.2073,8.31367,0.502732,0.0655738,...,0.777937,42.7088,-11.2787,10.4593,10.4593,-13.4264,0.777937,NaN,52.5129,0.833613
1989-05,1.0101,0.848485,0.144169,167.738,9.33333,50.6934,44.3333,6.3601,0.514679,0.074296,...,0.654787,26.6546,-13.2626,1.63918,1.63918,-8.37945,0.654787,NaN,50.4072,0.731486

In [25]:
# Drop rows before 2000
df2 = df2.drop(df2.index[83:126])
df2

date,currentRatio,quickRatio,cashRatio,daysOfSalesOutstanding,daysOfInventoryOutstanding,operatingCycle,daysOfPayablesOutstanding,cashConversionCycle,grossProfitMargin,operatingProfitMargin,...,priceToSalesRatio,priceEarningsRatio,priceToFreeCashFlowsRatio,priceToOperatingCashFlowsRatio,priceCashFlowRatio,priceEarningsToGrowthRatio,priceSalesRatio,dividendYield,enterpriseValueMultiple,priceFairValue
2020-12,1.75526,2.42493,0.68832,0,0,0,537.552,-537.552,0.969606,0.0712445,...,3.66535,61.4768,9.03832,9.03832,9.03832,12.9867,3.66535,0.00452431,27.1565,3.58242
2020-09,1.68852,1.5598,0.62117,198.51,3.54335,52.4911,19.9515,32.5396,0.220434,0.0822939,...,2.98111,46.2635,46.9422,21.7269,21.7269,9.73578,2.98111,0.00295149,29.3514,2.95951
2020-06,1.58382,1.44847,0.471868,212.423,3.7052,56.0834,21.1753,34.908,0.199562,0.0486231,...,1.94292,-100.974,51.4105,18.5406,18.5406,-21.2491,1.94292,0.00504073,30.9161,1.84341
2020-03,1.21462,1.074,0.171041,194.596,3.55617,51.5387,19.991,31.5477,0.177961,0.0235032,...,2.08051,115.498,-154.817,30.2175,30.2175,24.2129,2.08051,0.00467265,40.6284,1.93202
2019-12,1.25135,1.11311,0.192567,204.559,3.68915,54.1284,21.0269,33.1015,0.188871,0.0357885,...,2.3709,73.3454,-121.161,27.219,27.219,15.376,2.3709,0.00411458,36.321,2.20127
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2001-06,1.06141,0.808535,0.0373293,178.772,27.8994,71.9802,130.064,-58.0833,0.830233,-0.0719266,...,2.0346,91.9489,26.2327,10.2277,10.2277,21.7571,2.0346,NaN,6.59714,1.76433
2001-03,1.27329,0.993598,0.0488407,204.197,30.3511,80.701,128.474,-47.7728,0.827355,-0.0706639,...,2.1374,95.1558,-39.5336,54.0394,54.0394,21.8609,2.1374,NaN,-735.557,1.78978
2000-12,1.34127,1.10259,0.216925,199.343,31.1421,80.2953,142.266,-61.9705,0.833561,-0.031892,...,2.46492,62.2566,276.214,23.0974,23.0974,14.2518,2.46492,NaN,91.9667,2.3442
2000-09,1.20171,0.974555,0.0622473,197.681,30.0003,78.7434,126.906,-48.1623,0.83649,-0.0461229,...,2.13239,60.4183,-357.637,32.6411,32.6411,13.8726,2.13239,NaN,138.121,2.05382
2000-06,1.13619,0.904524,0.0235069,191.732,11.9002,59.1766,52.248,6.9286,0.601813,-0.258289,...,1.84897,36.5944,25.6007,11.959,11.959,8.40245,1.84897,NaN,14.2028,1.87353

In [26]:
# Reset index
df2.reset_index(inplace=True)
df2 = df2.rename(columns={'index':'date'})
df2

date,date,currentRatio,quickRatio,cashRatio,daysOfSalesOutstanding,daysOfInventoryOutstanding,operatingCycle,daysOfPayablesOutstanding,cashConversionCycle,grossProfitMargin,...,priceToSalesRatio,priceEarningsRatio,priceToFreeCashFlowsRatio,priceToOperatingCashFlowsRatio,priceCashFlowRatio,priceEarningsToGrowthRatio,priceSalesRatio,dividendYield,enterpriseValueMultiple,priceFairValue
0,2020-12,1.75526,2.42493,0.68832,0,0,0,537.552,-537.552,0.969606,...,3.66535,61.4768,9.03832,9.03832,9.03832,12.9867,3.66535,0.00452431,27.1565,3.58242
1,2020-09,1.68852,1.5598,0.62117,198.51,3.54335,52.4911,19.9515,32.5396,0.220434,...,2.98111,46.2635,46.9422,21.7269,21.7269,9.73578,2.98111,0.00295149,29.3514,2.95951
2,2020-06,1.58382,1.44847,0.471868,212.423,3.7052,56.0834,21.1753,34.908,0.199562,...,1.94292,-100.974,51.4105,18.5406,18.5406,-21.2491,1.94292,0.00504073,30.9161,1.84341
3,2020-03,1.21462,1.074,0.171041,194.596,3.55617,51.5387,19.991,31.5477,0.177961,...,2.08051,115.498,-154.817,30.2175,30.2175,24.2129,2.08051,0.00467265,40.6284,1.93202
4,2019-12,1.25135,1.11311,0.192567,204.559,3.68915,54.1284,21.0269,33.1015,0.188871,...,2.3709,73.3454,-121.161,27.219,27.219,15.376,2.3709,0.00411458,36.321,2.20127
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,2001-06,1.06141,0.808535,0.0373293,178.772,27.8994,71.9802,130.064,-58.0833,0.830233,...,2.0346,91.9489,26.2327,10.2277,10.2277,21.7571,2.0346,NaN,6.59714,1.76433
79,2001-03,1.27329,0.993598,0.0488407,204.197,30.3511,80.701,128.474,-47.7728,0.827355,...,2.1374,95.1558,-39.5336,54.0394,54.0394,21.8609,2.1374,NaN,-735.557,1.78978
80,2000-12,1.34127,1.10259,0.216925,199.343,31.1421,80.2953,142.266,-61.9705,0.833561,...,2.46492,62.2566,276.214,23.0974,23.0974,14.2518,2.46492,NaN,91.9667,2.3442
81,2000-09,1.20171,0.974555,0.0622473,197.681,30.0003,78.7434,126.906,-48.1623,0.83649,...,2.13239,60.4183,-357.637,32.6411,32.6411,13.8726,2.13239,NaN,138.121,2.05382
82,2000-06,1.13619,0.904524,0.0235069,191.732,11.9002,59.1766,52.248,6.9286,0.601813,...,1.84897,36.5944,25.6007,11.959,11.959,8.40245,1.84897,NaN,14.2028,1.87353

In [27]:
# Change date column to datetime
df2['date'] = pd.to_datetime(df2['date'])
df2 = pd.DataFrame(df2)
df2

date,date,currentRatio,quickRatio,cashRatio,daysOfSalesOutstanding,daysOfInventoryOutstanding,operatingCycle,daysOfPayablesOutstanding,cashConversionCycle,grossProfitMargin,...,priceToSalesRatio,priceEarningsRatio,priceToFreeCashFlowsRatio,priceToOperatingCashFlowsRatio,priceCashFlowRatio,priceEarningsToGrowthRatio,priceSalesRatio,dividendYield,enterpriseValueMultiple,priceFairValue
0,2020-12-01,1.75526,2.42493,0.68832,0,0,0,537.552,-537.552,0.969606,...,3.66535,61.4768,9.03832,9.03832,9.03832,12.9867,3.66535,0.00452431,27.1565,3.58242
1,2020-09-01,1.68852,1.5598,0.62117,198.51,3.54335,52.4911,19.9515,32.5396,0.220434,...,2.98111,46.2635,46.9422,21.7269,21.7269,9.73578,2.98111,0.00295149,29.3514,2.95951
2,2020-06-01,1.58382,1.44847,0.471868,212.423,3.7052,56.0834,21.1753,34.908,0.199562,...,1.94292,-100.974,51.4105,18.5406,18.5406,-21.2491,1.94292,0.00504073,30.9161,1.84341
3,2020-03-01,1.21462,1.074,0.171041,194.596,3.55617,51.5387,19.991,31.5477,0.177961,...,2.08051,115.498,-154.817,30.2175,30.2175,24.2129,2.08051,0.00467265,40.6284,1.93202
4,2019-12-01,1.25135,1.11311,0.192567,204.559,3.68915,54.1284,21.0269,33.1015,0.188871,...,2.3709,73.3454,-121.161,27.219,27.219,15.376,2.3709,0.00411458,36.321,2.20127
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,2001-06-01,1.06141,0.808535,0.0373293,178.772,27.8994,71.9802,130.064,-58.0833,0.830233,...,2.0346,91.9489,26.2327,10.2277,10.2277,21.7571,2.0346,NaN,6.59714,1.76433
79,2001-03-01,1.27329,0.993598,0.0488407,204.197,30.3511,80.701,128.474,-47.7728,0.827355,...,2.1374,95.1558,-39.5336,54.0394,54.0394,21.8609,2.1374,NaN,-735.557,1.78978
80,2000-12-01,1.34127,1.10259,0.216925,199.343,31.1421,80.2953,142.266,-61.9705,0.833561,...,2.46492,62.2566,276.214,23.0974,23.0974,14.2518,2.46492,NaN,91.9667,2.3442
81,2000-09-01,1.20171,0.974555,0.0622473,197.681,30.0003,78.7434,126.906,-48.1623,0.83649,...,2.13239,60.4183,-357.637,32.6411,32.6411,13.8726,2.13239,NaN,138.121,2.05382
82,2000-06-01,1.13619,0.904524,0.0235069,191.732,11.9002,59.1766,52.248,6.9286,0.601813,...,1.84897,36.5944,25.6007,11.959,11.959,8.40245,1.84897,NaN,14.2028,1.87353

In [28]:
# change datetime Y-m-d to Y-m
df2['date'] = df2['date'].dt.strftime('%Y-%m')
df2

date,date,currentRatio,quickRatio,cashRatio,daysOfSalesOutstanding,daysOfInventoryOutstanding,operatingCycle,daysOfPayablesOutstanding,cashConversionCycle,grossProfitMargin,...,priceToSalesRatio,priceEarningsRatio,priceToFreeCashFlowsRatio,priceToOperatingCashFlowsRatio,priceCashFlowRatio,priceEarningsToGrowthRatio,priceSalesRatio,dividendYield,enterpriseValueMultiple,priceFairValue
0,2020-12,1.75526,2.42493,0.68832,0,0,0,537.552,-537.552,0.969606,...,3.66535,61.4768,9.03832,9.03832,9.03832,12.9867,3.66535,0.00452431,27.1565,3.58242
1,2020-09,1.68852,1.5598,0.62117,198.51,3.54335,52.4911,19.9515,32.5396,0.220434,...,2.98111,46.2635,46.9422,21.7269,21.7269,9.73578,2.98111,0.00295149,29.3514,2.95951
2,2020-06,1.58382,1.44847,0.471868,212.423,3.7052,56.0834,21.1753,34.908,0.199562,...,1.94292,-100.974,51.4105,18.5406,18.5406,-21.2491,1.94292,0.00504073,30.9161,1.84341
3,2020-03,1.21462,1.074,0.171041,194.596,3.55617,51.5387,19.991,31.5477,0.177961,...,2.08051,115.498,-154.817,30.2175,30.2175,24.2129,2.08051,0.00467265,40.6284,1.93202
4,2019-12,1.25135,1.11311,0.192567,204.559,3.68915,54.1284,21.0269,33.1015,0.188871,...,2.3709,73.3454,-121.161,27.219,27.219,15.376,2.3709,0.00411458,36.321,2.20127
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,2001-06,1.06141,0.808535,0.0373293,178.772,27.8994,71.9802,130.064,-58.0833,0.830233,...,2.0346,91.9489,26.2327,10.2277,10.2277,21.7571,2.0346,NaN,6.59714,1.76433
79,2001-03,1.27329,0.993598,0.0488407,204.197,30.3511,80.701,128.474,-47.7728,0.827355,...,2.1374,95.1558,-39.5336,54.0394,54.0394,21.8609,2.1374,NaN,-735.557,1.78978
80,2000-12,1.34127,1.10259,0.216925,199.343,31.1421,80.2953,142.266,-61.9705,0.833561,...,2.46492,62.2566,276.214,23.0974,23.0974,14.2518,2.46492,NaN,91.9667,2.3442
81,2000-09,1.20171,0.974555,0.0622473,197.681,30.0003,78.7434,126.906,-48.1623,0.83649,...,2.13239,60.4183,-357.637,32.6411,32.6411,13.8726,2.13239,NaN,138.121,2.05382
82,2000-06,1.13619,0.904524,0.0235069,191.732,11.9002,59.1766,52.248,6.9286,0.601813,...,1.84897,36.5944,25.6007,11.959,11.959,8.40245,1.84897,NaN,14.2028,1.87353

In [29]:
# Reverse rows so least recent year is on top
df2= df2.iloc[::-1]
df2

date,date,currentRatio,quickRatio,cashRatio,daysOfSalesOutstanding,daysOfInventoryOutstanding,operatingCycle,daysOfPayablesOutstanding,cashConversionCycle,grossProfitMargin,...,priceToSalesRatio,priceEarningsRatio,priceToFreeCashFlowsRatio,priceToOperatingCashFlowsRatio,priceCashFlowRatio,priceEarningsToGrowthRatio,priceSalesRatio,dividendYield,enterpriseValueMultiple,priceFairValue
82,2000-06,1.13619,0.904524,0.0235069,191.732,11.9002,59.1766,52.248,6.9286,0.601813,...,1.84897,36.5944,25.6007,11.959,11.959,8.40245,1.84897,NaN,14.2028,1.87353
81,2000-09,1.20171,0.974555,0.0622473,197.681,30.0003,78.7434,126.906,-48.1623,0.83649,...,2.13239,60.4183,-357.637,32.6411,32.6411,13.8726,2.13239,NaN,138.121,2.05382
80,2000-12,1.34127,1.10259,0.216925,199.343,31.1421,80.2953,142.266,-61.9705,0.833561,...,2.46492,62.2566,276.214,23.0974,23.0974,14.2518,2.46492,NaN,91.9667,2.3442
79,2001-03,1.27329,0.993598,0.0488407,204.197,30.3511,80.701,128.474,-47.7728,0.827355,...,2.1374,95.1558,-39.5336,54.0394,54.0394,21.8609,2.1374,NaN,-735.557,1.78978
78,2001-06,1.06141,0.808535,0.0373293,178.772,27.8994,71.9802,130.064,-58.0833,0.830233,...,2.0346,91.9489,26.2327,10.2277,10.2277,21.7571,2.0346,NaN,6.59714,1.76433
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2019-12,1.25135,1.11311,0.192567,204.559,3.68915,54.1284,21.0269,33.1015,0.188871,...,2.3709,73.3454,-121.161,27.219,27.219,15.376,2.3709,0.00411458,36.321,2.20127
3,2020-03,1.21462,1.074,0.171041,194.596,3.55617,51.5387,19.991,31.5477,0.177961,...,2.08051,115.498,-154.817,30.2175,30.2175,24.2129,2.08051,0.00467265,40.6284,1.93202
2,2020-06,1.58382,1.44847,0.471868,212.423,3.7052,56.0834,21.1753,34.908,0.199562,...,1.94292,-100.974,51.4105,18.5406,18.5406,-21.2491,1.94292,0.00504073,30.9161,1.84341
1,2020-09,1.68852,1.5598,0.62117,198.51,3.54335,52.4911,19.9515,32.5396,0.220434,...,2.98111,46.2635,46.9422,21.7269,21.7269,9.73578,2.98111,0.00295149,29.3514,2.95951
0,2020-12,1.75526,2.42493,0.68832,0,0,0,537.552,-537.552,0.969606,...,3.66535,61.4768,9.03832,9.03832,9.03832,12.9867,3.66535,0.00452431,27.1565,3.58242

In [30]:
# Merge both datasets (quarterly highs and lows with quarterly ratios)
FDX_quarterly_data = quarterly_combined_df.merge(df2, on=['date'])
FDX_quarterly_data

,index,date,high,low,decision,currentRatio,quickRatio,cashRatio,daysOfSalesOutstanding,daysOfInventoryOutstanding,...,priceToSalesRatio,priceEarningsRatio,priceToFreeCashFlowsRatio,priceToOperatingCashFlowsRatio,priceCashFlowRatio,priceEarningsToGrowthRatio,priceSalesRatio,dividendYield,enterpriseValueMultiple,priceFairValue
0,1,2000-06,42.437500,33.250000,2,1.13619,0.904524,0.0235069,191.732,11.9002,...,1.84897,36.5944,25.6007,11.959,11.959,8.40245,1.84897,NaN,14.2028,1.87353
1,2,2000-09,45.040001,37.937500,1,1.20171,0.974555,0.0622473,197.681,30.0003,...,2.13239,60.4183,-357.637,32.6411,32.6411,13.8726,2.13239,NaN,138.121,2.05382
2,3,2000-12,49.849998,36.349998,2,1.34127,1.10259,0.216925,199.343,31.1421,...,2.46492,62.2566,276.214,23.0974,23.0974,14.2518,2.46492,NaN,91.9667,2.3442
3,4,2001-03,45.950001,38.000000,2,1.27329,0.993598,0.0488407,204.197,30.3511,...,2.1374,95.1558,-39.5336,54.0394,54.0394,21.8609,2.1374,NaN,-735.557,1.78978
4,5,2001-06,43.750000,35.500000,0,1.06141,0.808535,0.0373293,178.772,27.8994,...,2.0346,91.9489,26.2327,10.2277,10.2277,21.7571,2.0346,NaN,6.59714,1.76433
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,78,2019-09,178.500000,142.490005,0,1.31022,1.17776,0.240463,199.371,3.81198,...,2.37735,54.4013,-47.5135,71.7327,71.7327,11.4007,2.37735,0.00419453,30.5884,2.23104
78,79,2019-12,168.369995,137.779999,0,1.25135,1.11311,0.192567,204.559,3.68915,...,2.3709,73.3454,-121.161,27.219,27.219,15.376,2.3709,0.00411458,36.321,2.20127
79,80,2020-03,165.250000,88.690002,0,1.21462,1.074,0.171041,194.596,3.55617,...,2.08051,115.498,-154.817,30.2175,30.2175,24.2129,2.08051,0.00467265,40.6284,1.93202
80,81,2020-06,149.990005,103.400002,2,1.58382,1.44847,0.471868,212.423,3.7052,...,1.94292,-100.974,51.4105,18.5406,18.5406,-21.2491,1.94292,0.00504073,30.9161,1.84341
81,82,2020-09,259.950012,153.660004,1,1.68852,1.5598,0.62117,198.51,3.54335,...,2.98111,46.2635,46.9422,21.7269,21.7269,9.73578,2.98111,0.00295149,29.3514,2.95951

In [31]:
# Drop High and low columns
FDX_quarterly_data = FDX_quarterly_data.drop(['high', 'low'], axis=1)
FDX_quarterly_data.head()

,index,date,decision,currentRatio,quickRatio,cashRatio,daysOfSalesOutstanding,daysOfInventoryOutstanding,operatingCycle,daysOfPayablesOutstanding,...,priceToSalesRatio,priceEarningsRatio,priceToFreeCashFlowsRatio,priceToOperatingCashFlowsRatio,priceCashFlowRatio,priceEarningsToGrowthRatio,priceSalesRatio,dividendYield,enterpriseValueMultiple,priceFairValue
0,1,2000-06,2,1.13619,0.904524,0.0235069,191.732,11.9002,59.1766,52.248,...,1.84897,36.5944,25.6007,11.959,11.959,8.40245,1.84897,NaN,14.2028,1.87353
1,2,2000-09,1,1.20171,0.974555,0.0622473,197.681,30.0003,78.7434,126.906,...,2.13239,60.4183,-357.637,32.6411,32.6411,13.8726,2.13239,NaN,138.121,2.05382
2,3,2000-12,2,1.34127,1.10259,0.216925,199.343,31.1421,80.2953,142.266,...,2.46492,62.2566,276.214,23.0974,23.0974,14.2518,2.46492,NaN,91.9667,2.3442
3,4,2001-03,2,1.27329,0.993598,0.0488407,204.197,30.3511,80.701,128.474,...,2.1374,95.1558,-39.5336,54.0394,54.0394,21.8609,2.1374,NaN,-735.557,1.78978
4,5,2001-06,0,1.06141,0.808535,0.0373293,178.772,27.8994,71.9802,130.064,...,2.0346,91.9489,26.2327,10.2277,10.2277,21.7571,2.0346,NaN,6.59714,1.76433

In [32]:
# split and drop date column
FDX_quarterly_data[['year', 'month']] = FDX_quarterly_data['date'].str.split('-', expand=True)
FDX_quarterly_data = FDX_quarterly_data.drop(['date'], axis=1)

In [33]:
# Reorder columns
FDX_quarterly_data = FDX_quarterly_data[['year', 'month','decision','currentRatio', 'quickRatio','cashRatio','daysOfSalesOutstanding','daysOfInventoryOutstanding','operatingCycle','daysOfPayablesOutstanding','cashConversionCycle','grossProfitMargin','operatingProfitMargin','pretaxProfitMargin','netProfitMargin','effectiveTaxRate','returnOnAssets','returnOnEquity','returnOnCapitalEmployed','netIncomePerEBT','ebtPerEbit','ebitPerRevenue','debtRatio','debtEquityRatio','longTermDebtToCapitalization','totalDebtToCapitalization','interestCoverage','cashFlowToDebtRatio','companyEquityMultiplier','receivablesTurnover','payablesTurnover','inventoryTurnover','fixedAssetTurnover','assetTurnover','operatingCashFlowPerShare','freeCashFlowPerShare','cashPerShare','payoutRatio','operatingCashFlowSalesRatio','freeCashFlowOperatingCashFlowRatio','cashFlowCoverageRatios','shortTermCoverageRatios','capitalExpenditureCoverageRatio','dividendPaidAndCapexCoverageRatio','dividendPayoutRatio','priceBookValueRatio','priceToBookRatio','priceToSalesRatio','priceEarningsRatio','priceToFreeCashFlowsRatio','priceToOperatingCashFlowsRatio','priceCashFlowRatio','priceEarningsToGrowthRatio','priceSalesRatio','dividendYield', 'enterpriseValueMultiple', 'priceFairValue']]

FDX_quarterly_data.head()

,year,month,decision,currentRatio,quickRatio,cashRatio,daysOfSalesOutstanding,daysOfInventoryOutstanding,operatingCycle,daysOfPayablesOutstanding,...,priceToSalesRatio,priceEarningsRatio,priceToFreeCashFlowsRatio,priceToOperatingCashFlowsRatio,priceCashFlowRatio,priceEarningsToGrowthRatio,priceSalesRatio,dividendYield,enterpriseValueMultiple,priceFairValue
0,2000,06,2,1.13619,0.904524,0.0235069,191.732,11.9002,59.1766,52.248,...,1.84897,36.5944,25.6007,11.959,11.959,8.40245,1.84897,NaN,14.2028,1.87353
1,2000,09,1,1.20171,0.974555,0.0622473,197.681,30.0003,78.7434,126.906,...,2.13239,60.4183,-357.637,32.6411,32.6411,13.8726,2.13239,NaN,138.121,2.05382
2,2000,12,2,1.34127,1.10259,0.216925,199.343,31.1421,80.2953,142.266,...,2.46492,62.2566,276.214,23.0974,23.0974,14.2518,2.46492,NaN,91.9667,2.3442
3,2001,03,2,1.27329,0.993598,0.0488407,204.197,30.3511,80.701,128.474,...,2.1374,95.1558,-39.5336,54.0394,54.0394,21.8609,2.1374,NaN,-735.557,1.78978
4,2001,06,0,1.06141,0.808535,0.0373293,178.772,27.8994,71.9802,130.064,...,2.0346,91.9489,26.2327,10.2277,10.2277,21.7571,2.0346,NaN,6.59714,1.76433

In [34]:
# Determine null columns
FDX_quarterly_data.isna().sum()


# Convert null to 0
FDX_quarterly_data.fillna(0, inplace=True)

In [35]:
# Save to CSV
FDX_quarterly_data.to_csv('Data/FDX_quarterly_data.csv')