In [105]:
#imports/dependencies
import pandas as pd 
import numpy as np

In [106]:
stockprice_df=pd.read_csv('Test Data\AAPL_stock_data_detailed.csv')
stockprice_df.head()

,Unnamed: 0,open,high,low,close,adjClose,volume,unadjustedVolume,change,changePercent,vwap,label,changeOverTime
0,2020-12-31,134.080002,134.740005,131.720001,132.690002,132.690002,98990400.0,98990400.0,-1.39000,-1.037,133.05000,"December 31, 20",-0.01037
1,2020-12-30,135.580002,135.990005,133.399994,133.720001,133.720001,96452100.0,96452100.0,-1.86000,-1.372,134.37000,"December 30, 20",-0.01372
2,2020-12-29,138.050003,138.789993,134.339996,134.869995,134.869995,121047300.0,121047300.0,-3.18001,-2.304,135.99999,"December 29, 20",-0.02304
3,2020-12-28,133.990005,137.339996,133.509995,136.690002,136.690002,124486200.0,124486200.0,2.70000,2.015,135.84666,"December 28, 20",0.02015
4,2020-12-24,131.320007,133.460007,131.100006,131.970001,131.970001,54930100.0,54930100.0,0.64999,0.495,132.17667,"December 24, 20",0.00495

In [107]:
stockprice_df = stockprice_df.rename(columns={'Unnamed: 0':'date'})
stockprice_df.head()

,date,open,high,low,close,adjClose,volume,unadjustedVolume,change,changePercent,vwap,label,changeOverTime
0,2020-12-31,134.080002,134.740005,131.720001,132.690002,132.690002,98990400.0,98990400.0,-1.39000,-1.037,133.05000,"December 31, 20",-0.01037
1,2020-12-30,135.580002,135.990005,133.399994,133.720001,133.720001,96452100.0,96452100.0,-1.86000,-1.372,134.37000,"December 30, 20",-0.01372
2,2020-12-29,138.050003,138.789993,134.339996,134.869995,134.869995,121047300.0,121047300.0,-3.18001,-2.304,135.99999,"December 29, 20",-0.02304
3,2020-12-28,133.990005,137.339996,133.509995,136.690002,136.690002,124486200.0,124486200.0,2.70000,2.015,135.84666,"December 28, 20",0.02015
4,2020-12-24,131.320007,133.460007,131.100006,131.970001,131.970001,54930100.0,54930100.0,0.64999,0.495,132.17667,"December 24, 20",0.00495

In [108]:
selected_stockprice_df = stockprice_df[["date", "open", "high", "low", "close"]]
selected_stockprice_df.head()

         date        open        high         low       close
0  2020-12-31  134.080002  134.740005  131.720001  132.690002
1  2020-12-30  135.580002  135.990005  133.399994  133.720001
2  2020-12-29  138.050003  138.789993  134.339996  134.869995
3  2020-12-28  133.990005  137.339996  133.509995  136.690002
4  2020-12-24  131.320007  133.460007  131.100006  131.970001

In [109]:
selected_stockprice_df['date'] = selected_stockprice_df['date'].str[:-3]
selected_stockprice_df.head()

      date        open        high         low       close
0  2020-12  134.080002  134.740005  131.720001  132.690002
1  2020-12  135.580002  135.990005  133.399994  133.720001
2  2020-12  138.050003  138.789993  134.339996  134.869995
3  2020-12  133.990005  137.339996  133.509995  136.690002
4  2020-12  131.320007  133.460007  131.100006  131.970001

In [110]:
selected_stockprice_df['date'] = pd.to_datetime(selected_stockprice_df['date'], format='%Y-%m')

selected_stockprice_df

           date        open        high         low       close
0    2020-12-01  134.080002  134.740005  131.720001  132.690002
1    2020-12-01  135.580002  135.990005  133.399994  133.720001
2    2020-12-01  138.050003  138.789993  134.339996  134.869995
3    2020-12-01  133.990005  137.339996  133.509995  136.690002
4    2020-12-01  131.320007  133.460007  131.100006  131.970001
...         ...         ...         ...         ...         ...
5279 2000-01-01    0.861607    0.901786    0.852679    0.888393
5280 2000-01-01    0.947545    0.955357    0.848214    0.848214
5281 2000-01-01    0.926339    0.987165    0.919643    0.928571
5282 2000-01-01    0.966518    0.987723    0.903460    0.915179
5283 2000-01-01    0.936384    1.004464    0.907924    0.999442

[5284 rows x 5 columns]

In [111]:
testFrame = selected_stockprice_df.groupby('date')
pricehighmnth = testFrame['high'].max()
pricehighmnth = pd.DataFrame(pricehighmnth)
pricehighmnth

                  high
date
2000-01-01    1.084821
2000-02-01    1.070871
2000-03-01    1.342634
2000-04-01    1.245536
2000-05-01    1.127232
...                ...
2020-08-01  131.000000
2020-09-01  137.979996
2020-10-01  125.389999
2020-11-01  121.989998
2020-12-01  138.789993

[252 rows x 1 columns]

In [112]:
#grouping quarterly
quarterlyHigh = pricehighmnth.resample('Q')['high'].max()
quarterlyHigh

date
2019-12-31     73.492500
2020-03-31     81.962502
2020-06-30     93.095001
2020-09-30    137.979996
2020-12-31    138.789993
Freq: Q-DEC, Name: high, dtype: float64

In [114]:
pricelowmnth = testFrame['low'].min()
pricelowmnth = pd.DataFrame(pricelowmnth)
pricelowmnth

                   low
date
2000-01-01    0.772321
2000-02-01    0.866071
2000-03-01    1.017857
2000-04-01    0.936384
2000-05-01    0.729911
...                ...
2020-08-01  107.892502
2020-09-01  103.099998
2020-10-01  107.720001
2020-11-01  107.320000
2020-12-01  120.010002

[252 rows x 1 columns]

In [115]:
#grouping quarterly
quarterlyLow = pricelowmnth.resample('Q')['low'].min()
quarterlyLow

date
2000-03-31      0.772321
2000-06-30      0.717634
2000-09-30      0.453125
2000-12-31      0.243304
2001-03-31      0.257813
                 ...
2019-12-31     53.782501
2020-03-31     53.152500
2020-06-30     59.224998
2020-09-30     89.144997
2020-12-31    107.320000
Freq: Q-DEC, Name: low, Length: 84, dtype: float64

In [118]:
quarterlyHigh = pd.DataFrame(quarterlyHigh)
quarterlyLow = pd.DataFrame(quarterlyLow)

quarterly_combined_df = quarterlyHigh.merge(quarterlyLow, on=['date'])
quarterly_combined_df

                  high         low
date
2000-03-31    1.342634    0.772321
2000-06-30    1.245536    0.717634
2000-09-30    1.145089    0.453125
2000-12-31    0.477679    0.243304
2001-03-31    0.424107    0.257813
...                ...         ...
2019-12-31   73.492500   53.782501
2020-03-31   81.962502   53.152500
2020-06-30   93.095001   59.224998
2020-09-30  137.979996   89.144997
2020-12-31  138.789993  107.320000

[84 rows x 2 columns]