In [1]:
#imports/dependencies
import pandas as pd 
import numpy as np 
import datetime as dt

In [2]:
stockprice_df=pd.read_csv('Test Data/AAPL_stock_data_detailed.csv')
stockprice_df.head()

,Unnamed: 0,open,high,low,close,adjClose,volume,unadjustedVolume,change,changePercent,vwap,label,changeOverTime
0,2020-12-31,134.080002,134.740005,131.720001,132.690002,132.690002,98990400.0,98990400.0,-1.39000,-1.037,133.05000,"December 31, 20",-0.01037
1,2020-12-30,135.580002,135.990005,133.399994,133.720001,133.720001,96452100.0,96452100.0,-1.86000,-1.372,134.37000,"December 30, 20",-0.01372
2,2020-12-29,138.050003,138.789993,134.339996,134.869995,134.869995,121047300.0,121047300.0,-3.18001,-2.304,135.99999,"December 29, 20",-0.02304
3,2020-12-28,133.990005,137.339996,133.509995,136.690002,136.690002,124486200.0,124486200.0,2.70000,2.015,135.84666,"December 28, 20",0.02015
4,2020-12-24,131.320007,133.460007,131.100006,131.970001,131.970001,54930100.0,54930100.0,0.64999,0.495,132.17667,"December 24, 20",0.00495

In [3]:
stockprice_df = stockprice_df.rename(columns={'Unnamed: 0':'date'})
stockprice_df.head()

,date,open,high,low,close,adjClose,volume,unadjustedVolume,change,changePercent,vwap,label,changeOverTime
0,2020-12-31,134.080002,134.740005,131.720001,132.690002,132.690002,98990400.0,98990400.0,-1.39000,-1.037,133.05000,"December 31, 20",-0.01037
1,2020-12-30,135.580002,135.990005,133.399994,133.720001,133.720001,96452100.0,96452100.0,-1.86000,-1.372,134.37000,"December 30, 20",-0.01372
2,2020-12-29,138.050003,138.789993,134.339996,134.869995,134.869995,121047300.0,121047300.0,-3.18001,-2.304,135.99999,"December 29, 20",-0.02304
3,2020-12-28,133.990005,137.339996,133.509995,136.690002,136.690002,124486200.0,124486200.0,2.70000,2.015,135.84666,"December 28, 20",0.02015
4,2020-12-24,131.320007,133.460007,131.100006,131.970001,131.970001,54930100.0,54930100.0,0.64999,0.495,132.17667,"December 24, 20",0.00495

In [4]:
selected_stockprice_df = stockprice_df[["date", "open", "high", "low", "close"]]
selected_stockprice_df.head()

         date        open        high         low       close
0  2020-12-31  134.080002  134.740005  131.720001  132.690002
1  2020-12-30  135.580002  135.990005  133.399994  133.720001
2  2020-12-29  138.050003  138.789993  134.339996  134.869995
3  2020-12-28  133.990005  137.339996  133.509995  136.690002
4  2020-12-24  131.320007  133.460007  131.100006  131.970001

In [5]:
selected_stockprice_df['date'] = selected_stockprice_df['date'].str[:-3]
selected_stockprice_df.head()

      date        open        high         low       close
0  2020-12  134.080002  134.740005  131.720001  132.690002
1  2020-12  135.580002  135.990005  133.399994  133.720001
2  2020-12  138.050003  138.789993  134.339996  134.869995
3  2020-12  133.990005  137.339996  133.509995  136.690002
4  2020-12  131.320007  133.460007  131.100006  131.970001

In [6]:
selected_stockprice_df['date'] = pd.to_datetime(selected_stockprice_df['date'])

selected_stockprice_df

           date        open        high         low       close
0    2020-12-01  134.080002  134.740005  131.720001  132.690002
1    2020-12-01  135.580002  135.990005  133.399994  133.720001
2    2020-12-01  138.050003  138.789993  134.339996  134.869995
3    2020-12-01  133.990005  137.339996  133.509995  136.690002
4    2020-12-01  131.320007  133.460007  131.100006  131.970001
...         ...         ...         ...         ...         ...
5279 2000-01-01    0.861607    0.901786    0.852679    0.888393
5280 2000-01-01    0.947545    0.955357    0.848214    0.848214
5281 2000-01-01    0.926339    0.987165    0.919643    0.928571
5282 2000-01-01    0.966518    0.987723    0.903460    0.915179
5283 2000-01-01    0.936384    1.004464    0.907924    0.999442

[5284 rows x 5 columns]

In [7]:
testFrame = selected_stockprice_df.groupby('date')
pricehighmnth = testFrame['high'].max()
pricehighmnth = pd.DataFrame(pricehighmnth)
pricehighmnth

                  high
date
2000-01-01    1.084821
2000-02-01    1.070871
2000-03-01    1.342634
2000-04-01    1.245536
2000-05-01    1.127232
...                ...
2020-08-01  131.000000
2020-09-01  137.979996
2020-10-01  125.389999
2020-11-01  121.989998
2020-12-01  138.789993

[252 rows x 1 columns]

In [8]:
#grouping quarterly
quarterlyHigh = pricehighmnth.resample('Q')['high'].max()
quarterlyHigh

date
2000-03-31      1.342634
2000-06-30      1.245536
2000-09-30      1.145089
2000-12-31      0.477679
2001-03-31      0.424107
                 ...
2019-12-31     73.492500
2020-03-31     81.962502
2020-06-30     93.095001
2020-09-30    137.979996
2020-12-31    138.789993
Freq: Q-DEC, Name: high, Length: 84, dtype: float64

In [9]:
pricelowmnth = testFrame['low'].min()
pricelowmnth = pd.DataFrame(pricelowmnth)
pricelowmnth

                   low
date
2000-01-01    0.772321
2000-02-01    0.866071
2000-03-01    1.017857
2000-04-01    0.936384
2000-05-01    0.729911
...                ...
2020-08-01  107.892502
2020-09-01  103.099998
2020-10-01  107.720001
2020-11-01  107.320000
2020-12-01  120.010002

[252 rows x 1 columns]

In [10]:
#grouping quarterly
quarterlyLow = pricelowmnth.resample('Q')['low'].min()
quarterlyLow

date
2000-03-31      0.772321
2000-06-30      0.717634
2000-09-30      0.453125
2000-12-31      0.243304
2001-03-31      0.257813
                 ...
2019-12-31     53.782501
2020-03-31     53.152500
2020-06-30     59.224998
2020-09-30     89.144997
2020-12-31    107.320000
Freq: Q-DEC, Name: low, Length: 84, dtype: float64

In [11]:
quarterlyHigh = pd.DataFrame(quarterlyHigh)
quarterlyLow = pd.DataFrame(quarterlyLow)

quarterly_combined_df = quarterlyHigh.merge(quarterlyLow, on=['date'])
quarterly_combined_df

                  high         low
date
2000-03-31    1.342634    0.772321
2000-06-30    1.245536    0.717634
2000-09-30    1.145089    0.453125
2000-12-31    0.477679    0.243304
2001-03-31    0.424107    0.257813
...                ...         ...
2019-12-31   73.492500   53.782501
2020-03-31   81.962502   53.152500
2020-06-30   93.095001   59.224998
2020-09-30  137.979996   89.144997
2020-12-31  138.789993  107.320000

[84 rows x 2 columns]

In [12]:
# Creating the Classes
def class_creation(quarterly_combined_df, thres=3):
    """
    - buy (1)
    - hold (2)
    - sell (0)
    """
    # Buy
    if quarterly_combined_df['high'] >= thres and quarterly_combined_df['low'] >= thres:
        return 1
    # Sell
    elif quarterly_combined_df['high'] <= -thres and quarterly_combined_df['low'] <= -thres:
        return 0
    # Hold
    else:
        return 2

In [13]:
# Add decision column
quarterly_combined_df['decision'] = ""
quarterly_combined_df

                  high         low decision
date
2000-03-31    1.342634    0.772321
2000-06-30    1.245536    0.717634
2000-09-30    1.145089    0.453125
2000-12-31    0.477679    0.243304
2001-03-31    0.424107    0.257813
...                ...         ...      ...
2019-12-31   73.492500   53.782501
2020-03-31   81.962502   53.152500
2020-06-30   93.095001   59.224998
2020-09-30  137.979996   89.144997
2020-12-31  138.789993  107.320000

[84 rows x 3 columns]

In [14]:
# Add the classes to the decision column, shifted to know if prices will increase/decrease in teh next quarter (ask group about shift)

quarterly_combined_df['decision'] = quarterly_combined_df.apply(class_creation, axis=1).shift(1)
quarterly_combined_df

                  high         low  decision
date
2000-03-31    1.342634    0.772321       NaN
2000-06-30    1.245536    0.717634       2.0
2000-09-30    1.145089    0.453125       2.0
2000-12-31    0.477679    0.243304       2.0
2001-03-31    0.424107    0.257813       2.0
...                ...         ...       ...
2019-12-31   73.492500   53.782501       1.0
2020-03-31   81.962502   53.152500       1.0
2020-06-30   93.095001   59.224998       1.0
2020-09-30  137.979996   89.144997       1.0
2020-12-31  138.789993  107.320000       1.0

[84 rows x 3 columns]

In [15]:
# eliminates last row (no data to compare improvement to) and first row (does not have data to to show if price will increase in future)
quarterly_combined_df = quarterly_combined_df[1:-1]
quarterly_combined_df

                  high        low  decision
date
2000-06-30    1.245536   0.717634       2.0
2000-09-30    1.145089   0.453125       2.0
2000-12-31    0.477679   0.243304       2.0
2001-03-31    0.424107   0.257813       2.0
2001-06-30    0.484286   0.334821       2.0
...                ...        ...       ...
2019-09-30   56.605000  48.145000       1.0
2019-12-31   73.492500  53.782501       1.0
2020-03-31   81.962502  53.152500       1.0
2020-06-30   93.095001  59.224998       1.0
2020-09-30  137.979996  89.144997       1.0

[82 rows x 3 columns]

In [16]:
quarterly_combined_df.reset_index(drop=False, inplace=True)
quarterly_combined_df

         date        high        low  decision
0  2000-06-30    1.245536   0.717634       2.0
1  2000-09-30    1.145089   0.453125       2.0
2  2000-12-31    0.477679   0.243304       2.0
3  2001-03-31    0.424107   0.257813       2.0
4  2001-06-30    0.484286   0.334821       2.0
..        ...         ...        ...       ...
77 2019-09-30   56.605000  48.145000       1.0
78 2019-12-31   73.492500  53.782501       1.0
79 2020-03-31   81.962502  53.152500       1.0
80 2020-06-30   93.095001  59.224998       1.0
81 2020-09-30  137.979996  89.144997       1.0

[82 rows x 4 columns]

In [17]:
quarterly_combined_df['date'] = quarterly_combined_df['date'].dt.strftime('%Y-%m')
quarterly_combined_df

       date        high        low  decision
0   2000-06    1.245536   0.717634       2.0
1   2000-09    1.145089   0.453125       2.0
2   2000-12    0.477679   0.243304       2.0
3   2001-03    0.424107   0.257813       2.0
4   2001-06    0.484286   0.334821       2.0
..      ...         ...        ...       ...
77  2019-09   56.605000  48.145000       1.0
78  2019-12   73.492500  53.782501       1.0
79  2020-03   81.962502  53.152500       1.0
80  2020-06   93.095001  59.224998       1.0
81  2020-09  137.979996  89.144997       1.0

[82 rows x 4 columns]

In [18]:
quarterly_combined_df.set_index(quarterly_combined_df['date'])
quarterly_combined_df

       date        high        low  decision
0   2000-06    1.245536   0.717634       2.0
1   2000-09    1.145089   0.453125       2.0
2   2000-12    0.477679   0.243304       2.0
3   2001-03    0.424107   0.257813       2.0
4   2001-06    0.484286   0.334821       2.0
..      ...         ...        ...       ...
77  2019-09   56.605000  48.145000       1.0
78  2019-12   73.492500  53.782501       1.0
79  2020-03   81.962502  53.152500       1.0
80  2020-06   93.095001  59.224998       1.0
81  2020-09  137.979996  89.144997       1.0

[82 rows x 4 columns]

In [19]:
quarterly_ratios = pd.read_csv('Test Data\AAPL_financial_ratios_quarterly.csv')
quarterly_ratiosdf = pd.DataFrame(quarterly_ratios)
quarterly_ratiosdf.head()

,Unnamed: 0,2020-09,2020-06,2020-03,2019-12,2019-09,2019-06,2019-03,2018-12,2018-09,...,1991-12,1991-09,1991-06,1991-03,1990-12,1990-09,1990-06,1990-03,1989-12,1989-09
0,currentRatio,1.363604,1.469450,1.495962,1.597782,1.540126,1.504649,1.315382,1.300555,1.132926,...,2.416994,2.353328,2.197358,2.824297,2.373134,2.339825,2.636979,2.932817,2.604703,2.563128
1,quickRatio,1.015855,1.312449,1.297979,1.439962,1.384447,1.349862,1.134347,1.139680,0.994540,...,1.542880,1.479047,1.287490,1.839357,1.712687,1.712756,1.972943,2.138243,1.855543,1.789944
2,cashRatio,0.360710,0.350228,0.418070,0.389297,0.462022,0.563297,0.405110,0.413463,0.223525,...,0.416994,0.496302,0.601399,0.877510,0.689366,0.365141,0.749718,0.834625,0.460246,0.489385
3,daysOfSalesOutstanding,90.942533,196.152718,192.017303,158.793823,261.062773,179.579810,165.327415,160.100403,284.311208,...,190.630703,219.678168,183.096795,180.672716,185.766706,205.413589,188.783883,178.703566,183.111186,209.136561
4,daysOfInventoryOutstanding,9.135195,9.674909,8.348218,6.514434,9.301986,8.991424,12.144554,8.587004,9.172506,...,55.166826,70.985915,79.673913,68.241758,45.165644,49.003067,41.847134,46.032787,53.673184,63.146233

In [20]:
quarterly_ratiosdf = quarterly_ratios.transpose()
quarterly_ratiosdf.head()

,0,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,52,53
Unnamed: 0,currentRatio,quickRatio,cashRatio,daysOfSalesOutstanding,daysOfInventoryOutstanding,operatingCycle,daysOfPayablesOutstanding,cashConversionCycle,grossProfitMargin,operatingProfitMargin,...,priceToSalesRatio,priceEarningsRatio,priceToFreeCashFlowsRatio,priceToOperatingCashFlowsRatio,priceCashFlowRatio,priceEarningsToGrowthRatio,priceSalesRatio,dividendYield,enterpriseValueMultiple,priceFairValue
2020-09,1.3636,1.01586,0.36071,90.9425,9.13519,31.5594,95.1446,-63.5852,0.381604,0.228369,...,29.6026,151.127,101.917,93.0808,93.0808,229.082,29.6026,0.0018332,108.826,29.3122
2020-06,1.46945,1.31245,0.350228,196.153,9.67491,58.0413,85.9141,-27.8727,0.379995,0.219335,...,25.5517,135.524,103.703,93.7284,93.7284,207.752,25.5517,0.00239729,96.3171,21.0987
2020-03,1.49596,1.29798,0.41807,192.017,8.34822,55.695,81.181,-25.4861,0.383619,0.220414,...,18.5237,96.0238,94.2722,81.1488,81.1488,148.822,18.5237,0.0031245,68.338,13.7733
2019-12,1.59778,1.43996,0.389297,158.794,6.51443,45.6691,71.7287,-26.0597,0.383548,0.278472,...,13.9348,57.5409,45.0378,41.9281,41.9281,90.3031,13.9348,0.00276597,45.3404,14.2909

In [21]:
quarterly_ratiosdf = quarterly_ratiosdf.rename(index={'Unnamed: 0':'date'})
quarterly_ratiosdf.head()

,0,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,52,53
date,currentRatio,quickRatio,cashRatio,daysOfSalesOutstanding,daysOfInventoryOutstanding,operatingCycle,daysOfPayablesOutstanding,cashConversionCycle,grossProfitMargin,operatingProfitMargin,...,priceToSalesRatio,priceEarningsRatio,priceToFreeCashFlowsRatio,priceToOperatingCashFlowsRatio,priceCashFlowRatio,priceEarningsToGrowthRatio,priceSalesRatio,dividendYield,enterpriseValueMultiple,priceFairValue
2020-09,1.3636,1.01586,0.36071,90.9425,9.13519,31.5594,95.1446,-63.5852,0.381604,0.228369,...,29.6026,151.127,101.917,93.0808,93.0808,229.082,29.6026,0.0018332,108.826,29.3122
2020-06,1.46945,1.31245,0.350228,196.153,9.67491,58.0413,85.9141,-27.8727,0.379995,0.219335,...,25.5517,135.524,103.703,93.7284,93.7284,207.752,25.5517,0.00239729,96.3171,21.0987
2020-03,1.49596,1.29798,0.41807,192.017,8.34822,55.695,81.181,-25.4861,0.383619,0.220414,...,18.5237,96.0238,94.2722,81.1488,81.1488,148.822,18.5237,0.0031245,68.338,13.7733
2019-12,1.59778,1.43996,0.389297,158.794,6.51443,45.6691,71.7287,-26.0597,0.383548,0.278472,...,13.9348,57.5409,45.0378,41.9281,41.9281,90.3031,13.9348,0.00276597,45.3404,14.2909

In [22]:
quarterly_ratiosdf.columns=quarterly_ratiosdf.iloc[0]
quarterly_ratiosdf.head()

date,currentRatio,quickRatio,cashRatio,daysOfSalesOutstanding,daysOfInventoryOutstanding,operatingCycle,daysOfPayablesOutstanding,cashConversionCycle,grossProfitMargin,operatingProfitMargin,...,priceToSalesRatio,priceEarningsRatio,priceToFreeCashFlowsRatio,priceToOperatingCashFlowsRatio,priceCashFlowRatio,priceEarningsToGrowthRatio,priceSalesRatio,dividendYield,enterpriseValueMultiple,priceFairValue
date,currentRatio,quickRatio,cashRatio,daysOfSalesOutstanding,daysOfInventoryOutstanding,operatingCycle,daysOfPayablesOutstanding,cashConversionCycle,grossProfitMargin,operatingProfitMargin,...,priceToSalesRatio,priceEarningsRatio,priceToFreeCashFlowsRatio,priceToOperatingCashFlowsRatio,priceCashFlowRatio,priceEarningsToGrowthRatio,priceSalesRatio,dividendYield,enterpriseValueMultiple,priceFairValue
2020-09,1.3636,1.01586,0.36071,90.9425,9.13519,31.5594,95.1446,-63.5852,0.381604,0.228369,...,29.6026,151.127,101.917,93.0808,93.0808,229.082,29.6026,0.0018332,108.826,29.3122
2020-06,1.46945,1.31245,0.350228,196.153,9.67491,58.0413,85.9141,-27.8727,0.379995,0.219335,...,25.5517,135.524,103.703,93.7284,93.7284,207.752,25.5517,0.00239729,96.3171,21.0987
2020-03,1.49596,1.29798,0.41807,192.017,8.34822,55.695,81.181,-25.4861,0.383619,0.220414,...,18.5237,96.0238,94.2722,81.1488,81.1488,148.822,18.5237,0.0031245,68.338,13.7733
2019-12,1.59778,1.43996,0.389297,158.794,6.51443,45.6691,71.7287,-26.0597,0.383548,0.278472,...,13.9348,57.5409,45.0378,41.9281,41.9281,90.3031,13.9348,0.00276597,45.3404,14.2909

In [23]:
quarterly_ratiosdf = quarterly_ratiosdf.drop(['date'])
quarterly_ratiosdf

date,currentRatio,quickRatio,cashRatio,daysOfSalesOutstanding,daysOfInventoryOutstanding,operatingCycle,daysOfPayablesOutstanding,cashConversionCycle,grossProfitMargin,operatingProfitMargin,...,priceToSalesRatio,priceEarningsRatio,priceToFreeCashFlowsRatio,priceToOperatingCashFlowsRatio,priceCashFlowRatio,priceEarningsToGrowthRatio,priceSalesRatio,dividendYield,enterpriseValueMultiple,priceFairValue
2020-09,1.3636,1.01586,0.36071,90.9425,9.13519,31.5594,95.1446,-63.5852,0.381604,0.228369,...,29.6026,151.127,101.917,93.0808,93.0808,229.082,29.6026,0.0018332,108.826,29.3122
2020-06,1.46945,1.31245,0.350228,196.153,9.67491,58.0413,85.9141,-27.8727,0.379995,0.219335,...,25.5517,135.524,103.703,93.7284,93.7284,207.752,25.5517,0.00239729,96.3171,21.0987
2020-03,1.49596,1.29798,0.41807,192.017,8.34822,55.695,81.181,-25.4861,0.383619,0.220414,...,18.5237,96.0238,94.2722,81.1488,81.1488,148.822,18.5237,0.0031245,68.338,13.7733
2019-12,1.59778,1.43996,0.389297,158.794,6.51443,45.6691,71.7287,-26.0597,0.383548,0.278472,...,13.9348,57.5409,45.0378,41.9281,41.9281,90.3031,13.9348,0.00276597,45.3404,14.2909
2019-09,1.54013,1.38445,0.462022,261.063,9.30199,73.6736,104.746,-31.0723,0.379653,0.243988,...,15.3448,71.8018,57.356,49.3561,49.3561,114.618,15.3448,0.00354032,51.2837,10.8598
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1990-09,2.33982,1.71276,0.365141,205.414,49.0031,99.653,47.0706,52.5824,0.518464,0.104136,...,2.61989,36.1972,118.244,36.1972,36.1972,44.0684,2.61989,0.00366473,14.8438,2.4515
1990-06,2.63698,1.97294,0.749718,188.784,41.8471,88.3966,39.9841,48.4125,0.539927,0.133333,...,4.08043,46.4149,22.1023,18.443,18.443,57.4978,4.08043,0.00251356,19.9586,3.69594
1990-03,2.93282,2.13824,0.834625,178.704,46.0328,90.0967,34.8197,55.277,0.547548,0.147845,...,3.79667,38.7145,19.655,16.8657,16.8657,48.9221,3.79667,0.00254388,17.2474,3.29485
1989-12,2.6047,1.85554,0.460246,183.111,53.6732,98.8239,32.5559,66.268,0.520429,0.127261,...,3.05752,36.519,23.0549,17.4899,17.4899,47.0693,3.05752,0.0030669,16.6872,2.99532
1989-09,2.56313,1.78994,0.489385,209.137,63.1462,114.714,44.4018,70.3124,0.510116,0.124277,...,4.17646,35.902,321.124,74.1055,74.1055,46.4145,4.17646,0.00224905,17.7606,3.88979

In [24]:
quarterly_ratiosdf = quarterly_ratiosdf.drop(quarterly_ratiosdf.index[82:125])
quarterly_ratiosdf

date,currentRatio,quickRatio,cashRatio,daysOfSalesOutstanding,daysOfInventoryOutstanding,operatingCycle,daysOfPayablesOutstanding,cashConversionCycle,grossProfitMargin,operatingProfitMargin,...,priceToSalesRatio,priceEarningsRatio,priceToFreeCashFlowsRatio,priceToOperatingCashFlowsRatio,priceCashFlowRatio,priceEarningsToGrowthRatio,priceSalesRatio,dividendYield,enterpriseValueMultiple,priceFairValue
2020-09,1.3636,1.01586,0.36071,90.9425,9.13519,31.5594,95.1446,-63.5852,0.381604,0.228369,...,29.6026,151.127,101.917,93.0808,93.0808,229.082,29.6026,0.0018332,108.826,29.3122
2020-06,1.46945,1.31245,0.350228,196.153,9.67491,58.0413,85.9141,-27.8727,0.379995,0.219335,...,25.5517,135.524,103.703,93.7284,93.7284,207.752,25.5517,0.00239729,96.3171,21.0987
2020-03,1.49596,1.29798,0.41807,192.017,8.34822,55.695,81.181,-25.4861,0.383619,0.220414,...,18.5237,96.0238,94.2722,81.1488,81.1488,148.822,18.5237,0.0031245,68.338,13.7733
2019-12,1.59778,1.43996,0.389297,158.794,6.51443,45.6691,71.7287,-26.0597,0.383548,0.278472,...,13.9348,57.5409,45.0378,41.9281,41.9281,90.3031,13.9348,0.00276597,45.3404,14.2909
2019-09,1.54013,1.38445,0.462022,261.063,9.30199,73.6736,104.746,-31.0723,0.379653,0.243988,...,15.3448,71.8018,57.356,49.3561,49.3561,114.618,15.3448,0.00354032,51.2837,10.8598
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2001-06,3.25155,2.98389,1.31413,147.98,1.64265,38.1308,73.2277,-35.0969,0.294237,0.0210169,...,5.49749,132.931,-128.711,-245.721,-245.721,230.717,5.49749,NaN,79.2622,2.10181
2001-03,2.97772,2.66351,1.19109,162.477,0.860421,40.9233,82.6864,-41.7631,0.269043,-0.0055905,...,5.33751,177.628,-125.213,-173.591,-173.591,305.919,5.33751,NaN,869.22,2.04333
2000-12,3.00916,2.7526,1.06109,159.846,1.83852,41.2526,55.7685,-14.5159,-0.020854,-0.41708,...,4.98054,-25.72,-143.297,-385.8,-385.8,-43.1559,4.98054,NaN,-11.0784,1.35113
2000-09,2.80755,2.57631,0.616141,186.013,2.11689,47.9832,74.2195,-26.2363,0.249733,0.0449198,...,4.47581,49.234,65.9037,52.9732,52.9732,79.6382,4.47581,NaN,63.6714,2.03793
2000-06,2.75334,2.559,0.717565,193.4,0.351014,48.0387,73.0109,-24.9722,0.297534,0.0920548,...,9.3282,85.1199,76.3407,72.752,72.752,137.685,9.3282,NaN,111.748,4.07662

In [25]:
quarterly_ratiosdf.reset_index(inplace=True)
quarterly_ratiosdf = quarterly_ratiosdf.rename(columns={'index':'date'})
quarterly_ratiosdf

date,date,currentRatio,quickRatio,cashRatio,daysOfSalesOutstanding,daysOfInventoryOutstanding,operatingCycle,daysOfPayablesOutstanding,cashConversionCycle,grossProfitMargin,...,priceToSalesRatio,priceEarningsRatio,priceToFreeCashFlowsRatio,priceToOperatingCashFlowsRatio,priceCashFlowRatio,priceEarningsToGrowthRatio,priceSalesRatio,dividendYield,enterpriseValueMultiple,priceFairValue
0,2020-09,1.3636,1.01586,0.36071,90.9425,9.13519,31.5594,95.1446,-63.5852,0.381604,...,29.6026,151.127,101.917,93.0808,93.0808,229.082,29.6026,0.0018332,108.826,29.3122
1,2020-06,1.46945,1.31245,0.350228,196.153,9.67491,58.0413,85.9141,-27.8727,0.379995,...,25.5517,135.524,103.703,93.7284,93.7284,207.752,25.5517,0.00239729,96.3171,21.0987
2,2020-03,1.49596,1.29798,0.41807,192.017,8.34822,55.695,81.181,-25.4861,0.383619,...,18.5237,96.0238,94.2722,81.1488,81.1488,148.822,18.5237,0.0031245,68.338,13.7733
3,2019-12,1.59778,1.43996,0.389297,158.794,6.51443,45.6691,71.7287,-26.0597,0.383548,...,13.9348,57.5409,45.0378,41.9281,41.9281,90.3031,13.9348,0.00276597,45.3404,14.2909
4,2019-09,1.54013,1.38445,0.462022,261.063,9.30199,73.6736,104.746,-31.0723,0.379653,...,15.3448,71.8018,57.356,49.3561,49.3561,114.618,15.3448,0.00354032,51.2837,10.8598
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,2001-06,3.25155,2.98389,1.31413,147.98,1.64265,38.1308,73.2277,-35.0969,0.294237,...,5.49749,132.931,-128.711,-245.721,-245.721,230.717,5.49749,NaN,79.2622,2.10181
78,2001-03,2.97772,2.66351,1.19109,162.477,0.860421,40.9233,82.6864,-41.7631,0.269043,...,5.33751,177.628,-125.213,-173.591,-173.591,305.919,5.33751,NaN,869.22,2.04333
79,2000-12,3.00916,2.7526,1.06109,159.846,1.83852,41.2526,55.7685,-14.5159,-0.020854,...,4.98054,-25.72,-143.297,-385.8,-385.8,-43.1559,4.98054,NaN,-11.0784,1.35113
80,2000-09,2.80755,2.57631,0.616141,186.013,2.11689,47.9832,74.2195,-26.2363,0.249733,...,4.47581,49.234,65.9037,52.9732,52.9732,79.6382,4.47581,NaN,63.6714,2.03793
81,2000-06,2.75334,2.559,0.717565,193.4,0.351014,48.0387,73.0109,-24.9722,0.297534,...,9.3282,85.1199,76.3407,72.752,72.752,137.685,9.3282,NaN,111.748,4.07662

In [28]:
quarterly_ratiosdf['date'] = pd.to_datetime(quarterly_ratiosdf['date'])
quarterly_ratiosdf

date,date,currentRatio,quickRatio,cashRatio,daysOfSalesOutstanding,daysOfInventoryOutstanding,operatingCycle,daysOfPayablesOutstanding,cashConversionCycle,grossProfitMargin,...,priceToSalesRatio,priceEarningsRatio,priceToFreeCashFlowsRatio,priceToOperatingCashFlowsRatio,priceCashFlowRatio,priceEarningsToGrowthRatio,priceSalesRatio,dividendYield,enterpriseValueMultiple,priceFairValue
0,2020-09-01,1.3636,1.01586,0.36071,90.9425,9.13519,31.5594,95.1446,-63.5852,0.381604,...,29.6026,151.127,101.917,93.0808,93.0808,229.082,29.6026,0.0018332,108.826,29.3122
1,2020-06-01,1.46945,1.31245,0.350228,196.153,9.67491,58.0413,85.9141,-27.8727,0.379995,...,25.5517,135.524,103.703,93.7284,93.7284,207.752,25.5517,0.00239729,96.3171,21.0987
2,2020-03-01,1.49596,1.29798,0.41807,192.017,8.34822,55.695,81.181,-25.4861,0.383619,...,18.5237,96.0238,94.2722,81.1488,81.1488,148.822,18.5237,0.0031245,68.338,13.7733
3,2019-12-01,1.59778,1.43996,0.389297,158.794,6.51443,45.6691,71.7287,-26.0597,0.383548,...,13.9348,57.5409,45.0378,41.9281,41.9281,90.3031,13.9348,0.00276597,45.3404,14.2909
4,2019-09-01,1.54013,1.38445,0.462022,261.063,9.30199,73.6736,104.746,-31.0723,0.379653,...,15.3448,71.8018,57.356,49.3561,49.3561,114.618,15.3448,0.00354032,51.2837,10.8598
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,2001-06-01,3.25155,2.98389,1.31413,147.98,1.64265,38.1308,73.2277,-35.0969,0.294237,...,5.49749,132.931,-128.711,-245.721,-245.721,230.717,5.49749,NaN,79.2622,2.10181
78,2001-03-01,2.97772,2.66351,1.19109,162.477,0.860421,40.9233,82.6864,-41.7631,0.269043,...,5.33751,177.628,-125.213,-173.591,-173.591,305.919,5.33751,NaN,869.22,2.04333
79,2000-12-01,3.00916,2.7526,1.06109,159.846,1.83852,41.2526,55.7685,-14.5159,-0.020854,...,4.98054,-25.72,-143.297,-385.8,-385.8,-43.1559,4.98054,NaN,-11.0784,1.35113
80,2000-09-01,2.80755,2.57631,0.616141,186.013,2.11689,47.9832,74.2195,-26.2363,0.249733,...,4.47581,49.234,65.9037,52.9732,52.9732,79.6382,4.47581,NaN,63.6714,2.03793
81,2000-06-01,2.75334,2.559,0.717565,193.4,0.351014,48.0387,73.0109,-24.9722,0.297534,...,9.3282,85.1199,76.3407,72.752,72.752,137.685,9.3282,NaN,111.748,4.07662

In [29]:
quarterly_ratiosdf['date'] = quarterly_ratiosdf['date'].dt.strftime('%Y-%m')
quarterly_ratiosdf

date,date,currentRatio,quickRatio,cashRatio,daysOfSalesOutstanding,daysOfInventoryOutstanding,operatingCycle,daysOfPayablesOutstanding,cashConversionCycle,grossProfitMargin,...,priceToSalesRatio,priceEarningsRatio,priceToFreeCashFlowsRatio,priceToOperatingCashFlowsRatio,priceCashFlowRatio,priceEarningsToGrowthRatio,priceSalesRatio,dividendYield,enterpriseValueMultiple,priceFairValue
0,2020-09,1.3636,1.01586,0.36071,90.9425,9.13519,31.5594,95.1446,-63.5852,0.381604,...,29.6026,151.127,101.917,93.0808,93.0808,229.082,29.6026,0.0018332,108.826,29.3122
1,2020-06,1.46945,1.31245,0.350228,196.153,9.67491,58.0413,85.9141,-27.8727,0.379995,...,25.5517,135.524,103.703,93.7284,93.7284,207.752,25.5517,0.00239729,96.3171,21.0987
2,2020-03,1.49596,1.29798,0.41807,192.017,8.34822,55.695,81.181,-25.4861,0.383619,...,18.5237,96.0238,94.2722,81.1488,81.1488,148.822,18.5237,0.0031245,68.338,13.7733
3,2019-12,1.59778,1.43996,0.389297,158.794,6.51443,45.6691,71.7287,-26.0597,0.383548,...,13.9348,57.5409,45.0378,41.9281,41.9281,90.3031,13.9348,0.00276597,45.3404,14.2909
4,2019-09,1.54013,1.38445,0.462022,261.063,9.30199,73.6736,104.746,-31.0723,0.379653,...,15.3448,71.8018,57.356,49.3561,49.3561,114.618,15.3448,0.00354032,51.2837,10.8598
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,2001-06,3.25155,2.98389,1.31413,147.98,1.64265,38.1308,73.2277,-35.0969,0.294237,...,5.49749,132.931,-128.711,-245.721,-245.721,230.717,5.49749,NaN,79.2622,2.10181
78,2001-03,2.97772,2.66351,1.19109,162.477,0.860421,40.9233,82.6864,-41.7631,0.269043,...,5.33751,177.628,-125.213,-173.591,-173.591,305.919,5.33751,NaN,869.22,2.04333
79,2000-12,3.00916,2.7526,1.06109,159.846,1.83852,41.2526,55.7685,-14.5159,-0.020854,...,4.98054,-25.72,-143.297,-385.8,-385.8,-43.1559,4.98054,NaN,-11.0784,1.35113
80,2000-09,2.80755,2.57631,0.616141,186.013,2.11689,47.9832,74.2195,-26.2363,0.249733,...,4.47581,49.234,65.9037,52.9732,52.9732,79.6382,4.47581,NaN,63.6714,2.03793
81,2000-06,2.75334,2.559,0.717565,193.4,0.351014,48.0387,73.0109,-24.9722,0.297534,...,9.3282,85.1199,76.3407,72.752,72.752,137.685,9.3282,NaN,111.748,4.07662

In [31]:
quarterly_data_combined = quarterly_combined_df.merge(quarterly_ratiosdf, on=['date'])
quarterly_data_combined

,date,high,low,decision,currentRatio,quickRatio,cashRatio,daysOfSalesOutstanding,daysOfInventoryOutstanding,operatingCycle,...,priceToSalesRatio,priceEarningsRatio,priceToFreeCashFlowsRatio,priceToOperatingCashFlowsRatio,priceCashFlowRatio,priceEarningsToGrowthRatio,priceSalesRatio,dividendYield,enterpriseValueMultiple,priceFairValue
0,2000-06,1.245536,0.717634,2.0,2.75334,2.559,0.717565,193.4,0.351014,48.0387,...,9.3282,85.1199,76.3407,72.752,72.752,137.685,9.3282,NaN,111.748,4.07662
1,2000-09,1.145089,0.453125,2.0,2.80755,2.57631,0.616141,186.013,2.11689,47.9832,...,4.47581,49.234,65.9037,52.9732,52.9732,79.6382,4.47581,NaN,63.6714,2.03793
2,2000-12,0.477679,0.243304,2.0,3.00916,2.7526,1.06109,159.846,1.83852,41.2526,...,4.98054,-25.72,-143.297,-385.8,-385.8,-43.1559,4.98054,NaN,-11.0784,1.35113
3,2001-03,0.424107,0.257813,2.0,2.97772,2.66351,1.19109,162.477,0.860421,40.9233,...,5.33751,177.628,-125.213,-173.591,-173.591,305.919,5.33751,NaN,869.22,2.04333
4,2001-06,0.484286,0.334821,2.0,3.25155,2.98389,1.31413,147.98,1.64265,38.1308,...,5.49749,132.931,-128.711,-245.721,-245.721,230.717,5.49749,NaN,79.2622,2.10181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,2019-09,56.605000,48.145000,1.0,1.54013,1.38445,0.462022,261.063,9.30199,73.6736,...,15.3448,71.8018,57.356,49.3561,49.3561,114.618,15.3448,0.00354032,51.2837,10.8598
74,2019-12,73.492500,53.782501,1.0,1.59778,1.43996,0.389297,158.794,6.51443,45.6691,...,13.9348,57.5409,45.0378,41.9281,41.9281,90.3031,13.9348,0.00276597,45.3404,14.2909
75,2020-03,81.962502,53.152500,1.0,1.49596,1.29798,0.41807,192.017,8.34822,55.695,...,18.5237,96.0238,94.2722,81.1488,81.1488,148.822,18.5237,0.0031245,68.338,13.7733
76,2020-06,93.095001,59.224998,1.0,1.46945,1.31245,0.350228,196.153,9.67491,58.0413,...,25.5517,135.524,103.703,93.7284,93.7284,207.752,25.5517,0.00239729,96.3171,21.0987
77,2020-09,137.979996,89.144997,1.0,1.3636,1.01586,0.36071,90.9425,9.13519,31.5594,...,29.6026,151.127,101.917,93.0808,93.0808,229.082,29.6026,0.0018332,108.826,29.3122